/backend/.env
/backend/node_modules
/backend/user/.env
/backend/user/node_modules
/backend/user/dist
/backend/mail/.env
/backend/mail/node_modules
/backend/mail/dist
/backend/chat/.env
/backend/chat/node_modules
/backend/chat/dist
/frontend/.env
/frontend/dist
/frontend/node_modules